.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.video-container video {
    max-width: 100%;
}

.video-container p {
    margin: 10px;
}

.video {
    border: 1px solid lightblue;
    max-height: 722px;
}


body {
	max-width: 1284px;
	margin:0 auto;
}

.title, tags {
    text-align: left;
}

.thumbnail {
    width: 184px;
    height: 96px;
}

.related-video {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}
.related-video-info {
    margin-left: 1em;
}

.title {
    font-size: 1.2em;
}