<!DOCTYPE html>
<link rel="stylesheet" href="../style/style.css">
<link rel="stylesheet" href="../style/default.css">
<link rel="icon" href="/favicon/favicon.ico">
<link rel='icon' type='image/png' sizes='32x32' href="/favicon/favicon-32x32.png">
<link rel='icon' type='image/png' sizes='16x16' href="/favicon/favicon-16x16.png">
<link rel='manifest' href="/favicon/site.webmanifest">
<title>Videos</title>
<html>
<body>
    <hr>
    <div class="topnav">
        <!-- Left-aligned links (default) -->
        <a href="/">₪ Home</a>
        <!-- Right-aligned links -->
        <div class="topnav-right">
            <a href="https://github.com/neetware/yukonia">GitHub</a>
        </div>
    </div>
	<hr>
{{range .}}
<br>
<div class="video-container">
    <div style="display: flex;">
            <a href="{{.PageURL}}"><img src="{{.Thumbnail}}" alt="thumbnail" width="320" height="180" class="video"></a>
                <div>
                    <a href="{{.PageURL}}"><p>{{.Title}}</p></a>
                    <p style="text-align: left;">{{.Description}}</p>
                </div>
            <button class="button">Watch</button>
    </div>
</div>
<br>
     {{end}}
     <footer><p>made with ♥ by <a href="https://github.com/neetware/yukonia">Yukonia Team</a></p></footer>
</body>
</html>