<!DOCTYPE html>
<link rel="stylesheet" href="../style/style.css">
<link rel="stylesheet" href="../style/default.css">
<link rel="icon" href="/favicon/favicon.ico">
<link rel='icon' type='image/png' sizes='32x32' href="/favicon/favicon-32x32.png">
<link rel='icon' type='image/png' sizes='16x16' href="/favicon/favicon-16x16.png">
<link rel='manifest' href="/favicon/site.webmanifest">
<title>Videos</title>
<html>
<head>

</head>
<body>
    <hr>
    <div class="topnav">
        <!-- Left-aligned links (default) -->
        <a href="/">₪ Home</a>
        <!-- Right-aligned links -->
        <div class="topnav-right">
            <a href="https://github.com/neetware/yukonia">GitHub</a>
        </div>
    </div>
	<hr>
{{range .}}
    <div class="video-container">
        <h2>{{.Title}}</h2>
        <iframe width="640" height="360" style="align-items: center;" src="{{.VideoURL}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p style="text-align: left;">{{.Description}}</p>
    </div>
     {{end}}
     <footer><p>made with ♥ by <a href="https://github.com/username">username</a></p></footer>
</body>
</html>

