<!DOCTYPE html>
<link rel="stylesheet" href="../style/style.css">
<link rel="stylesheet" href="../style/default.css">
<link rel="icon" href="/favicon/favicon.ico">
<link rel='icon' type='image/png' sizes='32x32' href="/favicon/favicon-32x32.png">
<link rel='icon' type='image/png' sizes='16x16' href="/favicon/favicon-16x16.png">
<link rel='manifest' href="/favicon/site.webmanifest">
<title>Video</title>
<html>
    <body>
        <hr>
        <div class="topnav">
            <!-- Left-aligned links (default) -->
            <a href="/">₪ Home</a>
            <!-- Right-aligned links -->
            <div class="topnav-right">
                <a href="https://github.com/neetware/yukonia">GitHub</a>
            </div>
        </div>
        <hr>
        <center style="padding-top: 24px;">
            <div class="container">
                <div class="video-container">
                    <div style="display: flex;">
                        <div style="flex: 1; margin-left:10px">
                            <iframe class="video" width="960" height="540" src="https://videos.lukesmith.xyz/videos/embed/b6c70441-8453-4d15-ae2b-4157b5099d1b" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <h1 style="color: lightblue; text-align: left;">HUGO Test Title</h1>
                            <div style="text-align: left;">
                                <h2 style="text-align: left;">Description:</h2>
                                <p>Hugo will allow you to create optimal website, but we shall overcome the "Hugo Hump" in this video. You gotta understand how templates and themes were before you get into the really impactful stuff.</p>
                                <h2 style="text-align: left;">Comments:</h2>
                                <p style="color: lightblue">@anon<p>What an informative video! I love it.</p></p>
                            </div>
                        </div>
                        <div style="flex: 1;">
                            <main>
                                <div class="scroll">
                                    <h3 style="color: lightblue; text-align: left; padding-left: 40px;">Related Videos:</h3>
                                    <ul>
                                        {{range .}}
                                            <div class="related-video">
                                                <a href="{{.PageURL}}">
                                                    <img src="{{.Thumbnail}}" alt="Thumbnail" class="thumbnail video">
                                                </a>
                                                <div class="related-video-info">
                                                    <p class="title">{{.Title}}</p>
                                                    <a href=""><p class="tags">{{.Tags}}</p></a>
                                                </div>
                                            </div>
                                        {{end}}
                                    </ul>
                                </div>
                            </main>
                        </div>
                    </div>
                </div>
            </div>
        </center>
    </body>
</html>
<footer><p>made with ♥ by <a href="https://github.com/neetware/yukonia">Yukonia Team</a></p></footer>
</body>
</html>

